body{
    background-color: white;
}

div1 > divname1 > h3{
    display: inline;
    color: brown;
}
div1 > divname2 > h3{
    display: inline;
    color: brown;
}
div1{
    background-color: rgb(107, 107, 112);
    background-size: 200px;
}
nav > ul > li{
    display: inline;
    margin-right: 15px;
    font-size: 20px;
}


nav li > a{
    text-decoration: none;
}