body{
    background-color: white;
}

.logo-text{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.logo{
    width: 40px;
    height: 40px;
    margin-left: 100px;
}
.name1{
    color: #131318;
    font-family: arial;
    font-size: 24px;
    margin-left: 10px;
    font-weight: bold;
}

.name2{
    color: #FF5400;
    font-size: 24px;
    font-family: arial;
    margin-left: 10px;
    font-weight: bold;
}

nav > ul > li{
    display: inline;
    margin-right: 15px;
    font-size: 20px;
}


nav li > a{
    text-decoration: none;
}